
h1{

text-align: center; background-color: red; width: 100% color: red; 

}




div{

	background-color: skyblue; text-align: center; border: 1px solid black; width: 100% 
}

#a{
	background-color: green; text-align: center; border: 1px solid black; width: 100%
	}

	.b{

		background-color: gold; text-align: center; border: 1px solid black; width: 100%
	}